@page "/user-manager/edit/{UserId:int}"
@using BootstrapBlazor.Components
@using BootstrapBlazor.Server.Data
@using BootstrapBlazor.Server.Services
@layout PageLayout

<DemoBlock Title="Chỉnh sửa người dùng" Name="EditUser">
    @if (IsLoadingData)
    {
        <div class="text-center p-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Đang tải...</span>
            </div>
            <p class="mt-2">Đang tải thông tin người dùng...</p>
        </div>
    }
    else if (Model != null)
    {
        <ValidateForm Model="@Model" OnValidSubmit="@OnValidSubmit">
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@Model.UserName" 
                        DisplayText="Tên đăng nhập" 
                        ShowLabel="true"
                        placeholder="Nhập tên đăng nhập" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@Model.UserCode" 
                        DisplayText="Mã nhân viên" 
                        ShowLabel="true"
                        placeholder="Nhập mã nhân viên" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@Model.FirstName" 
                        DisplayText="Họ" 
                        ShowLabel="true"
                        placeholder="Nhập họ" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@Model.LastName" 
                        DisplayText="Tên" 
                        ShowLabel="true"
                        placeholder="Nhập tên" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@Model.Email" 
                        DisplayText="Email" 
                        ShowLabel="true"
                        placeholder="Nhập email" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <BootstrapInput @bind-Value="@Model.PhoneNumber" 
                        DisplayText="Số điện thoại" 
                        ShowLabel="true"
                        placeholder="Nhập số điện thoại" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <Select @bind-Value="@Model.Gender" 
                        DisplayText="Giới tính" 
                        ShowLabel="true">
                        <Options>
                            <SelectOption Value="1" Text="Nam" />
                            <SelectOption Value="0" Text="Nữ" />
                            <SelectOption Value="2" Text="Không xác định" />
                        </Options>
                    </Select>
                </div>
                
                <div class="col-12 col-sm-6">
                    <DateTimePicker @bind-Value="@Model.DOB" 
                        DisplayText="Ngày sinh" 
                        ShowLabel="true"
                        DateFormat="dd/MM/yyyy" />
                </div>
                
             
                
                <div class="col-12 col-sm-6">
                    <MultiSelect @bind-Value="@SelectedRoles" 
                        DisplayText="Vai trò (*)" 
                        ShowLabel="true"
                        Items="@RoleItems"
                        placeholder="Chọn vai trò" />
                </div>
                
                <div class="col-12 col-sm-6">
                    <Select @bind-Value="@SelectedPositionId" 
                        DisplayText="Chức vụ" 
                        ShowLabel="true"
                        Items="@PositionItems"
                        placeholder="Chọn chức vụ" />
                </div>
                
                <div class="col-12">
                    <BootstrapInput @bind-Value="@Model.Address" 
                        DisplayText="Địa chỉ" 
                        ShowLabel="true"
                        placeholder="Nhập địa chỉ" />
                </div>

                <div class="col-12">
                    <Switch @bind-Value="@Model.IsActive" 
                        DisplayText="Trạng thái hoạt động" 
                        ShowLabel="true"
                        OnColor="Color.Success"
                        OffColor="Color.Danger" />
                </div>
                
                <div class="col-12">
                    <div class="form-check">
                        <Checkbox @bind-Value="@Model.IsSetPassword" 
                            DisplayText="Đổi mật khẩu"
                            ShowLabel="true" />
                    </div>
                </div>
                
                @if (Model.IsSetPassword)
                {
                    <div class="col-12 col-sm-6">
                        <BootstrapInput @bind-Value="@Model.Password" 
                            DisplayText="Mật khẩu mới" 
                            ShowLabel="true"
                            Type="text"
                            placeholder="Nhập mật khẩu mới" />
                    </div>
                    
                    <div class="col-12 col-sm-6">
                        <BootstrapInput @bind-Value="@Model.PasswordConfirm" 
                            DisplayText="Xác nhận mật khẩu" 
                            ShowLabel="true"
                            Type="text"
                            placeholder="Nhập lại mật khẩu" />
                    </div>
                }
                
                <div class="col-12">
                    <div class="d-flex gap-2">
                        <Button ButtonType="ButtonType.Submit" 
                            Color="Color.Primary" 
                            Icon="fa-solid fa-save"
                            IsDisabled="@IsLoading">
                            @if (IsLoading)
                            {
                                <span class="spinner-border spinner-border-sm me-1"></span>
                            }
                            Cập nhật
                        </Button>
                        <Button Color="Color.Secondary" 
                            Icon="fa-solid fa-times"
                            OnClick="@OnCancel"
                            IsDisabled="@IsLoading">
                            Hủy
                        </Button>
                        <Button Color="Color.Info" 
                            Icon="fa-solid fa-list"
                            OnClick="@OnBackToList"
                            IsDisabled="@IsLoading">
                            Danh sách
                        </Button>
                    </div>
                </div>
            </div>
        </ValidateForm>
    }
    else
    {
        <div class="alert alert-danger">
            <i class="fa-solid fa-exclamation-triangle"></i>
            Không tìm thấy thông tin người dùng.
        </div>
    }
</DemoBlock>

